* {
  box-sizing: border-box;
}

body,
html {
  font-family: "Figtree", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
}

.normal-text {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
}

.bold-text {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
}

.card {
  box-shadow: 8px 8px 0px black;
  max-width: 384px;
  padding: 24px;
  background-color: #fff;
  border-radius: 20px;
}

/* Media query for mobile screens */
@media (max-width: 375px) {
  .card {
    width: 327px;
  }
}

.card-image {
  border-radius: 10px;
  margin-bottom: 24px;
  display: block;
  height: 200px;
  width: 100%;
}

.content {
  margin-bottom: 24px;
}

.card-header,
.card-content,
.card-footer {
  width: auto;
}

.card-header h2:hover {
  color: hsl(47, 88%, 63%);
}

.tag {
  width: auto;
  height: auto;
  padding: 4px 12px;
  background: #f4d04e;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.tag-text {
  color: #111111;
  font-size: 14px;
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  line-height: 21px;
  word-wrap: break-word;
}
